<!doctype html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  <link rel="stylesheet" href="../static/index.css">
  <link rel="icon" href="../static/img/favicon.jpg" type="image/gif" sizes="20x20" >

  <title>MyVaccine </title>
</head>
<body>
  <header>
    <div class="heading">
      <img src="static/img/logo.png" alt="" srcset="" class="logo">
      <span style="font-size: 25px;"> MyVaccine</span>
     
      <div>
        An Initiative to make INDIA a vaccine-nation
      </div>
    </div>
  </header>
  <div class="content">
    <div class="message"> <strong> Welcome!</strong> Search nearest Covid-19 vaccine slot and Set alert for slot
      availabiltity <span id="closeBtn">&#10006</span></div>
    <div class="container">
      <!-- State list -->
      <div class="dropdown">
        <button class="stateBtn dropBtn" onclick="toggleState()">State</button>
        <div class="dropdown-state">
          <ul id=states class="list-ul"></ul>
        </div>
      </div>


      <div class="dropdown">
        <button class="dropBtn districtBtn" onclick="toggleDistrict()">District</button>
        <div class="dropdown-district">
          <ul id=districts class="list-ul"></ul>
        </div>
      </div>
      <div class="dropdown ">
        <button class="dropBtn" onclick="toggleCentre()">Centre</button>
        <div class="dropdown-centre">
          <ul id=centres class="list-ul"></ul>
        </div>
      </div>
    </div>
    <div>
      <div class="center-name">
        <!-- <span class="centreName">name</span> -->
        <!-- <button id="alertBtn" onclick="slotAlert()"> Alert</button> -->
      </div>
      <table class="tableBox">
        <!-- this code will be inserted by index.js -->
        <!-- <thead class="tHead">
          <tr>
            <th>Date</th>
            <th>Dose1</th>
            <th>Dose2</th>
          </tr>
        </thead> -->
        <tbody class='tBody'>
          <!-- code will be inserted by index.js -->
        </tbody>
      </table>
    </div>

  </div>
  <div class="smsAlert">
    <div id="closeSmsBtn" onclick="closeAlert()">&#10006</div>
    <input type="tel" style="width: 200px; padding:4px; margin: 20px 10px" name="number" id="number" placeholder="Enter your phone number">
    <input type="button"  id="setBtn" value="SET" >
    <div class="success">
      <p>Alert is set successfully.</p>
    <p>You will receive a notification as soon as slot in available</p>
    </div>
    
  </div>
  <footer>
    |Copyright © 2021 ShouryaSrivastava | All right reserved
  </footer>

</body>
<script>
 
</script>
<script src="JS/index.js"></script>
</html>