/* CSS Reset */
*{
  margin:0;
  padding:0;
}

header{
  background-color: black;
  color: white;
  text-align: center;
}

.logo{
  /* border: 2px solid rgb(8, 8, 8); */
  filter: invert(100%);
  display: inline-block;
  height: 25px;
  width: 25px;
}

.heading{
  /* border: 2px solid white; */
}
.heading div{
  /* border: 2px solid white; */
  font-size: 12px;
}
.content{
  /* background-color: yellow; */

  border: 2px solid rgb(0, 0, 0);
  height: 100vh;
  position: relative;
}
.content::before{
  content: "";
  position: absolute;
  height: 100%;
  width: 100%;
  background: url('img/background2.jpg')  no-repeat top/cover;
  z-index: -2;
  opacity: .3;
}.message{
  background-color: rgba(112, 112, 212, 0.89);
margin: 4px 4px;
border-radius: 6px;
padding: 2px 20px;
color: black;
font-size: 1em;
  /* font-weight: bolder; */
 
}
#closeBtn{
  /* border: 1px solid black; */
  position: absolute;
  right: 10px;
  color: rgb(90, 89, 88);
}

#closeBtn:hover{
  cursor: pointer;
  color: rgb(34, 34, 33);
  font-weight: bold;
}
.container{
  /* border: 2px solid black; */
display: flex;
justify-content: space-evenly;
margin: 20px auto;
width: 80%;
}
.dropdown {
    position: relative;
    display: inline-block;
    height: 2em;
    /* border: 2px solid black; */
    margin: 4px 50px;
    width: 100px;
  }
  
  .dropBtn {
    background-color: #0f71b3;
color: white;

width: 200px;
height: 2.5em;
font-size: 16px;
border: none;
cursor: pointer;
border-radius: 4px;
  }

  .dropBtn:hover, .dropbtn:focus {
    background-color: #2980B9;
  }

.dropdown-state{
  margin: 4px 0;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.dropdown-district{
  margin: 4px 0;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  overflow: auto;
  z-index: 1;
}

.dropdown-centre{
  margin: 4px 0;
  display: none;
  position: absolute;
  background-color: #f1f1f1;
  min-width: 160px;
  overflow: auto;
  box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
  z-index: 1;
}
.List{
  padding: 0 4px;
 
  list-style: none;
}

.list-ul{
  padding: 0;
  list-style-type: none;
  text-align: center;
  height:65vh; overflow:hidden; overflow-y:scroll;
}
.List:hover{
  /* list-style: none; */
  background-color: rgb(199, 195, 195);
  cursor: pointer;
}
.center-name{
  margin: 30px auto;
  /* border: 1px solid rgb(110, 109, 109); */
  width: 45%;
  position: relative;
  /* display: none; */
  font-size: 20px;
}


#alertBtn{
  position: absolute;
right: 10px;
height: 30px;
width: 60px;
padding: 0;
font-size: 15px;
border: none;
background-color: rgb(230, 12, 12);
color: white;
border-radius: 15px;
box-shadow: 0 0 2px 2px rgb(255, 0, 0);
}

#alertBtn:hover,  #alertBtn:focus{
  height: 30px;
  width: 60px;
  padding: 0;
  font-size: 15px;
  border: none;
  background-color: rgb(253, 56, 56);
  color: white;
  
  border-radius: 15px;
}
.tableBox{
  /* display: block; */
margin: 20px auto;
/* border: 1px solid rgb(110, 109, 109); */
width: 45%;
/* background-color: #95d7ff; */
box-shadow: 0px 0px 10px 2px;
}
.tableBox:hover{
  box-shadow: 16px rgba(248, 19, 19, 0.2);
  cursor: pointer;
}

.tHead{
  border-radius: 4px;
}
.tLine{
  /* background-color: rgb(255, 255, 169); */
}
.tLine:hover{
  background-color:rgb(180 230 255)
}
footer{
  background-color: black;
  color: white;
  text-align: center;
  font-size: .6em;
  padding: 2px 0px;
}

.smsAlert{
  position: fixed;
top: 40%;
left: 50%;
justify-content: center;
align-items: center;
text-align: center;
padding: 10px 30px;
letter-spacing: 2px;
/* border: 2px solid red; */
display: block;
margin: 2px auto;
height: 120px;
transform: translate(-50%, -50%);
background-color: white;
display: none;
box-shadow: 0px 0px 40px 5px;
}

#closeSmsBtn{
  /* border: 1px solid black; */
  position: absolute;
  top: 2px;
  margin: 4px 2px;

  right: 10px;
  color: rgb(90, 89, 88);
}
#closeSmsBtn:hover{
  cursor: pointer;
}


#setBtn{
  background-color: #0f71b3;
  border: none;
  padding: 4px 10px;
  color: white;
}
#setBtn:hover, #serBtn:focus{
  cursor: pointer;
  background-color: #168bdafd;
  
}

.success{
  visibility: hidden;
}